[Unit]
After=zfs.target
Description=rift prune service
OnFailure=notify-email@%n.service

[Service]
Environment="LOCALE_ARCHIVE=/nix/store/hjlkypp9lpxwzsjycpy7nqg2mnl7qhzv-glibc-locales-2.40-66/lib/locale/locale-archive"
Environment="PATH=/nix/store/imad8dvhp77h0pjbckp6wvmnyhp8dpgg-coreutils-9.8/bin:/nix/store/av4xw9f56xlx5pgv862wabfif6m1yc0a-findutils-4.10.0/bin:/nix/store/x3zjxxz8m4ki88axp0gn8q8m6bldybba-gnugrep-3.12/bin:/nix/store/drc7kang929jaza6cy9zdx10s4gw1z5p-gnused-4.9/bin:/nix/store/zf8qy81dsw1vqwgh9p9n2h40s1k0g2l1-systemd-258.2/bin:/nix/store/imad8dvhp77h0pjbckp6wvmnyhp8dpgg-coreutils-9.8/sbin:/nix/store/av4xw9f56xlx5pgv862wabfif6m1yc0a-findutils-4.10.0/sbin:/nix/store/x3zjxxz8m4ki88axp0gn8q8m6bldybba-gnugrep-3.12/sbin:/nix/store/drc7kang929jaza6cy9zdx10s4gw1z5p-gnused-4.9/sbin:/nix/store/zf8qy81dsw1vqwgh9p9n2h40s1k0g2l1-systemd-258.2/sbin"
Environment="TZDIR=/nix/store/xaa75rd44q62nc9mrbvym9d1m6gy0fj8-tzdata-2025b/share/zoneinfo"
BindPaths=/dev/zfs
CPUQuota=75%
CPUWeight=20
CacheDirectory=rift
CacheDirectoryMode=700
CapabilityBoundingSet=
DeviceAllow=/dev/zfs
DevicePolicy=closed
DynamicUser=true
ExecStart=/nix/store/p7g9h75n39f4b1r0fl2bmgnfzf85i9vl-rift-1.1/bin/rift prune -v --keep 'rift_.*_daily' 30 --keep 'rift_.*_frequently' 192 --keep 'rift_.*_hourly' 24 --keep 'rift_.*_monthly' 12 --keep 'rift_.*_yearly' 0 rpool/user/home/me/dev
ExecStart=/nix/store/p7g9h75n39f4b1r0fl2bmgnfzf85i9vl-rift-1.1/bin/rift prune -v --keep 'rift_.*_daily' 30 --keep 'rift_.*_frequently' 192 --keep 'rift_.*_hourly' 24 --keep 'rift_.*_monthly' 12 --keep 'rift_.*_yearly' 0 rpool/user/home/me/docs
ExecStart=/nix/store/p7g9h75n39f4b1r0fl2bmgnfzf85i9vl-rift-1.1/bin/rift prune -v --keep 'rift_.*_daily' 30 --keep 'rift_.*_frequently' 192 --keep 'rift_.*_hourly' 24 --keep 'rift_.*_monthly' 12 --keep 'rift_.*_yearly' 0 rpool/user/home/me/etc
ExecStart=/nix/store/p7g9h75n39f4b1r0fl2bmgnfzf85i9vl-rift-1.1/bin/rift prune -v --keep 'rift_.*_daily' 30 --keep 'rift_.*_frequently' 192 --keep 'rift_.*_hourly' 24 --keep 'rift_.*_monthly' 12 --keep 'rift_.*_yearly' 0 rpool/user/home/me/games/saves
ExecStart=/nix/store/p7g9h75n39f4b1r0fl2bmgnfzf85i9vl-rift-1.1/bin/rift prune -v --keep 'rift_.*_daily' 30 --keep 'rift_.*_frequently' 192 --keep 'rift_.*_hourly' 24 --keep 'rift_.*_monthly' 12 --keep 'rift_.*_yearly' 0 rpool/user/home/me/media
ExecStart=/nix/store/p7g9h75n39f4b1r0fl2bmgnfzf85i9vl-rift-1.1/bin/rift prune -v --keep 'rift_.*_daily' 30 --keep 'rift_.*_frequently' 192 --keep 'rift_.*_hourly' 24 --keep 'rift_.*_monthly' 12 --keep 'rift_.*_yearly' 0 rpool/user/home/me/rwu
ExecStart=/nix/store/p7g9h75n39f4b1r0fl2bmgnfzf85i9vl-rift-1.1/bin/rift prune -v --keep 'rift_.*_daily' 30 --keep 'rift_.*_frequently' 192 --keep 'rift_.*_hourly' 24 --keep 'rift_.*_monthly' 12 --keep 'rift_.*_yearly' 0 rpool/user/home/me/self
ExecStart=/nix/store/p7g9h75n39f4b1r0fl2bmgnfzf85i9vl-rift-1.1/bin/rift prune -v --keep 'rift_.*_daily' 30 --keep 'rift_.*_frequently' 192 --keep 'rift_.*_hourly' 24 --keep 'rift_.*_monthly' 12 --keep 'rift_.*_yearly' 0 rpool/user/home/me/xdg/config
ExecStartPre=-+/run/booted-system/sw/bin/zfs allow rift-prune destroy,mount rpool/user/home/me/dev
ExecStartPre=-+/run/booted-system/sw/bin/zfs allow rift-prune destroy,mount rpool/user/home/me/docs
ExecStartPre=-+/run/booted-system/sw/bin/zfs allow rift-prune destroy,mount rpool/user/home/me/etc
ExecStartPre=-+/run/booted-system/sw/bin/zfs allow rift-prune destroy,mount rpool/user/home/me/games/saves
ExecStartPre=-+/run/booted-system/sw/bin/zfs allow rift-prune destroy,mount rpool/user/home/me/media
ExecStartPre=-+/run/booted-system/sw/bin/zfs allow rift-prune destroy,mount rpool/user/home/me/rwu
ExecStartPre=-+/run/booted-system/sw/bin/zfs allow rift-prune destroy,mount rpool/user/home/me/self
ExecStartPre=-+/run/booted-system/sw/bin/zfs allow rift-prune destroy,mount rpool/user/home/me/xdg/config
ExecStopPost=-+/run/booted-system/sw/bin/zfs unallow rift-prune destroy,mount rpool/user/home/me/dev
ExecStopPost=-+/run/booted-system/sw/bin/zfs unallow rift-prune destroy,mount rpool/user/home/me/docs
ExecStopPost=-+/run/booted-system/sw/bin/zfs unallow rift-prune destroy,mount rpool/user/home/me/etc
ExecStopPost=-+/run/booted-system/sw/bin/zfs unallow rift-prune destroy,mount rpool/user/home/me/games/saves
ExecStopPost=-+/run/booted-system/sw/bin/zfs unallow rift-prune destroy,mount rpool/user/home/me/media
ExecStopPost=-+/run/booted-system/sw/bin/zfs unallow rift-prune destroy,mount rpool/user/home/me/rwu
ExecStopPost=-+/run/booted-system/sw/bin/zfs unallow rift-prune destroy,mount rpool/user/home/me/self
ExecStopPost=-+/run/booted-system/sw/bin/zfs unallow rift-prune destroy,mount rpool/user/home/me/xdg/config
Group=rift-prune
LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateDevices=true
PrivateMounts=true
PrivateNetwork=true
PrivateTmp=true
PrivateUsers=false
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectProc=invisible
ProtectSystem=strict
RestrictAddressFamilies=none
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
RuntimeDirectory=rift
RuntimeDirectoryMode=700
StateDirectory=rift
StateDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter= 
SystemCallFilter=~@reboot
SystemCallFilter=~@swap
SystemCallFilter=~@obsolete
SystemCallFilter=~@mount
SystemCallFilter=~@module
SystemCallFilter=~@debug
SystemCallFilter=~@cpu-emulation
SystemCallFilter=~@clock
SystemCallFilter=~@raw-io
SystemCallFilter=~@privileged
SystemCallFilter=~@resources
Type=oneshot
UMask=77
User=rift-prune
